<!DOCTYPE html>
<html lang="en">

<head>
    <title>Your Wishlist</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <!--=========================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--=========================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
    <!--============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
    <!--============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
    <!--============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
    <!--============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
    <!--============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <!--===============================================================================================-->
    <style>
        a {
            color: inherit;
            text-decoration: inherit
        }
    </style>
</head>

<body class="animsition">

    <%- include('./partials/navbar') %>

    <!-- Header -->
    <div class="p-b-45">
        <h3 class="ltext-106 cl5 txt-center" style="margin-top: 3em;">
            Your Wishlist
        </h3>
    </div>
    <!-- breadcrumb -->
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
                Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            <span class="stext-109 cl4">
                Wishlist
            </span>
        </div>
    </div>


    <!-- Whislist -->
    <form class="bg0 p-t-75 p-b-85">
        <div class="container">
            <%- include('./partials/flash') %>
            <div class="row justify-content-center">
                <% if(wishlist.length >0){%>
                <div class="col-lg-12  m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1"></th>
                                    <th class="column-2">Product Name</th>
                                    <th class="column-3"> Variant</th>
                                    <th class="column-3">Price</th>
                                    <th class="column-5"></th>
                                    <th class="column-6"></th>
                                </tr> 
                                <% wishlist.forEach((p)=>{ %>
                                    <% p.product.forEach((p2)=>{ %>
                                        <tr class="table_row">
                                            <td class="column-1">
                                                <div class="how-itemcart1">
                                                    <img src="<%= p2.image[0].url %>" alt="IMG">
                                                </div>
                                            </td>
                                            <td class="column-2">
                                                <a href="/pages/viewproduct/<%= p2._id %> ">
                                                    <%= p2.product_name %>
                                                </a>
                                            </td>
                                            <td id="variant"> 
                                                <% if(p.variant=='stock1' ){%>
                                                    4GB RAM<br>64GB ROM
                                                    <% }else if(p.variant=='stock2' ) {%>
                                                    4GB RAM<br>128GB ROM
                                                    <% }else if(p.variant=='stock3' ){%>
                                                    6GB RAM<br>128GB ROM
                                                    <% }else if(p.variant=='stock4' ){%>
                                                    8GB RAM<br>256GB ROM
                                                    <% }else{ %>
                                                    12GB RAM<br>1TB ROM
                                                    <% } %> 
                                            </td>
                                            <td class="column-3">
                                                ₹<%= p2.selling_price %>.00
                                            </td>
                                            <td class="column-4">
                                                <button onclick="toCart('<%=p2._id%>','<%=p.variant%>')" class="btn btn-danger m-2">Add to Cart</button>
                                            </td>
                                            <td>
                                                <button style="padding: 1.5em; margin-left: 2em;" onclick="removeProduct('<%=p2._id%>','<%=p.variant%>')"><i style="color: black; font-weight: bold; " class="zmdi zmdi-close"></i></button>
                                            </td>
                                        </tr>
                                        <% }) %>
                                        <% }) %>
                                            

                            </table>
                        </div>
                    </div>
                </div>
                <% }else{%> 
                    <h3>Nothing to show in your Wishlist</h3>
                <% } %>
            </div>
        </div>
    </form>




    <!-- Footer -->
    <%- include('./partials/footer') %>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>
    <!--===============================================================================================-->
    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="../vendor/bootstrap/js/popper.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="../vendor/select2/select2.min.js"></script>

    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <script>
        function toCart(proId,proVariant){
            console.log(proVariant);
                $.ajax({
                    url: '/users/add-to-cart/'+proId,
                    data: {variant:proVariant,
                    },
                    method: 'post',
                    success: location.reload()
                })
            }

        function removeProduct(proId,proVariant) {
            $.ajax({
                url: '/users/wishlistItemDelete',
                data: {
                    product: proId,
                    variant:proVariant
                },
                method: 'post',
                success: location.reload()
            })
        }

    </script>
    <script src="../vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>

    <script src="../vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="../js/main.js"></script>

</body>

</html>